body{
     max-width:1920px;
    margin:0auto;
    float:none;

}
.inline-block {
    display:inline-block;
    vertical-align: top;
}

.logo {
    width:50%;
    padding:1%;
}

.navigation {
    background-color: #F3EAE3;
}

.inline-block ul {
    list-style-type: none;
    border:0;
    padding-left:500px;
    padding-top:2% ;
}

.inline-block li{
    display:inline;
    text-align:center;
    text-decoration: none;
    font-size: 17px;
    list-style:none;
    float:left;

}

.inline-block li a {
    display:block;
    color:black;
    padding:16px;
    text-decoration: none;
    font-family: ;
}

.contact {
/*NEED HELP REACHING THIS CONTACT*/
}


section#hero-img {
    background-color:#F3EAE3;
}


h1 {
    font-family:'Arimo',sans-serif;
    font-size:72px;
}

.header-color {
    background-color:#F3EAE3; 
}

.pfp {
    width:30%;
    background-color:#F3EAE3;
    display:inline-block;

}

.hero-left{
    display:inline-block;
    height:20px;
    padding:25px;
}

.arrow img {
    padding-top:50px;
}

.about-me {
    padding-left:20px;
    padding-top:40px;
    margin:40px;
}
#footer {
    background-color: #FFFFFF;
    text-align:center;
    padding:60px;
    padding-top:200px;
    padding-bottom:100px;

}

#footer img{
   width:5%;
}

.footer-text {
    color:#0D1F2D;
}


#footer ul {
    display:inline-block;
    vertical-align:top;
    padding-left: 100px;
}

#footer li {
    padding:1px;
}

#SMicons img {
   width:5%; 
}